/* Style all input fields */
/*input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}*/

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* The message box is shown when the user clicks on the password field */
/*A caixa de mensagem é exibida quando o usuário clica no campo de senha*/
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 5px;
  margin-top: 5px;
}

#message p {
  padding: 5px 10px;
  font-size: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
/*Adiciona uma cor de texto verde e uma marca de seleção quando os requisitos forem adequados */

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
/*Adiciona uma cor de texto em vermelho e um "x" quando os requisitos estiverem incorretos */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}
.texto3{
  text-align: center;
}

/*classe para validar email*/
.msg {
    display: none;
}
.error {
    color: red;
}
.success {
    color: green;
}